*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecera{
    margin: 5px;
}

.titulo{
    display: block;
    text-align: center;
    background-color: orange;
    padding: 2px;
    font-size: 80px;
    font-family: 'Londrina Solid', cursive;
    border-radius: 20px;
}

#leg1{
    margin: 0 20px;
    transform: rotate(350deg);
    font-size: 65px;
}

#leg2{
    margin: 0 20px;
    transform: rotate(-350deg);
    font-size: 65px;
}

.nav{
    display: block;
    background-color: orange;
    margin: 10px 5px 0 5px;
    text-align: center;
    border-radius: 20px;
}

.nav i{
    margin-right: 10px;
}

ul{
    margin: 5px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}

li{
    margin: 5px;
    display: inline-block;
    font-size: 30px;
    font-family: cursive;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
}

.doggy{
    height: 70px;
    width: 70px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
}

.propuesta{
    display: block;
    margin: 5px;
    padding: 15px 15px;
    font-size: 15px;
    font-weight: bolder;
    font-family: sans-serif; 
    color: brown;
    background-color: orange;
    text-align: center;
    border-radius: 20px;
    word-spacing: 10px;
}

.correo{
    font-size: 30px;
    color: black;
}

.correo:hover{
    color: white;
}

.redes{
    display: block;
    background-color:orange;
    margin: 5px;
    padding: 2%;
    border-radius: 20px;
    font-size: 25px;
    font-family: 'Londrina Solid', cursive;
    text-align: center;
}

.redes i{
    margin-right: 5px;
}

.pie a{
    margin-right: 7%;
    margin-left: 7%;
}

@media all and (max-width: 768px){
    .aside{
        display: flex;
        flex-flow: row;
        width: 100%;
        height: 120px;
    }
    .aside a{
        height: 60px;
        width: 50%;
    }
    .aside img{
        height: 185%;
    }
    .pie{
        display: flex;
        flex-direction: row;
    }
}

@media all and (max-width: 428px){
    .titulo{
        display: flex;
        flex-direction: row;
        justify-content:center;
        font-size: 50px;
    }
    #leg1{
        font-size: 50px;
        position: relative;
        top: 5px;
    }
    #leg2{
        font-size: 50px;
        position: relative;
        top: 5px;
    }
    ul{
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
    .propuesta{
        display: flex;
        flex-direction: column;
        text-align: justify;
        font-size: 12px;
    }
    .correo{
        text-align: justify;
        font-size: 21px;
    }
    .pie{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .pie a{
        margin: 10px;
    }
}
@media all and (max-width: 375px){
    .titulo{
        display: flex;
        flex-direction: row;
        justify-content:center;
        font-size: 50px;
    }
    #leg1{
        font-size: 50px;
        position: relative;
        top: 5px;
    }
    #leg2{
        font-size: 50px;
        position: relative;
        top: 5px;
    }
    ul{
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
    .propuesta{
        display: flex;
        flex-direction: column;
        text-align: justify;
        font-size: 10px;
    }
    .pie{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .pie a{
        margin: 10px;
    }
}